[Unit]
Description=python-tool
After=multi-user.target

[Service]
Restart=always
Type=simple
WorkingDirectory=/usr/local/
ExecStart=/usr/local/bin/python-tool
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=python-tool

[Install]
WantedBy=multi-user.target
